.container{
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  padding: 5px;
}
.reviewTime{
  margin-top: 0px;
  font-size:12px;
  line-height: 12px;
  text-align: right;
  word-wrap: break-word;
}
.review{
  margin-top: 0px;
  word-wrap: break-word;
  line-height: 19px;
  font-size:12px;
}
.substars {
  margin-top: 0px;
  line-height:6px;
  font-size: 11px;
  /*text-align: left;*/
}
.subbar {
    margin-top:5px;
    /*margin-bottom:5px;*/
    height: 1px;
    width: 80%;
    background: #666666;
}
.iconImg {
  opacity: 1.0;
  height: 17px;
  vertical-align:middle;
  margin-right: 5px;
}

