.bm-cross-button {
	height: 24px;
	width: 24px;
}

.bm-cross {
	background: #bdc3c7;
}

.bm-menu {
	background: #373a47;
 	padding: 0px;
 	font-size: 1.15em;
}

.bm-item-list {
	overflow: auto;
}

.bm-morph-shape {
	fill: #373a47;
}

.menu-item {
	text-align: center;
}

.pathAddButton {
  width: 260px;
  height: 40px;
  color: white;
  background: #4db6ac;
}

.travelTimeSum {
	position: fixed;
	background: black;
	color: red;
	opacity: 0.6;
	z-index: 8888;
	width: 100px;
	right: 10px;
	bottom: 10px;
}