.finalButton {
	position: fixed;
	right: 10px;
	bottom: 10px;
}

.travelTimeSum {
	position: fixed;
	background: black;
	color: red;
	opacity: 0.6;
	z-index: 8888;
	width: 100px;
	right: 10px;
	bottom: 10px;
}