.placeName {
	background: #a05591;
	font-size: 20px;
	text-decoration: underline;
	text-align: center;
}

.placeImg {
	width: 280px;
	height: 200px;
}

.sectionName {
	padding-left: 10px;
	height: 20px;
	font-size: 10px;
	word-break: break-all
}

.sectionContent {
	padding-left: 20px;
}

#storeInfo {
	background: red;
}

.detail {
	text-align: center;
	padding: 15px;
}

#placeName {
	font-weight: bold;
}

img {
	opacity: 1.0;
}