.placeName {
	background: #a05591;
	font-size: 20px;
	text-decoration: underline;
	text-align: center;
	font-weight: bold;
}

.placeImg {
	width: 280px;
	height: 200px;
}

.sectionName {
	padding-left: 10px;
	height: 20px;
	font-size: 10px;
	word-break: break-all
}

.sectionContent {
	padding-left: 20px;
}

.detail {
	text-align: center;
	padding: 10px;
}

img {
	opacity: 1.0;
}

.menuItem {
  margin: 0px;
  padding: 0px;
  height: 35px;
}
