.placeName {
  background: #a05591;
  font-size: 20px;
  text-decoration: underline;
  text-align: center;
  font-weight: bold;
}

.placeImg {
  padding-top: 5px;
  width: 280px;
  height: 200px;
}

.sectionName {
  font-size: 15px;
}

.sectionContent {
  font-size: 14px;
  line-height: 20px;
}

.logoImg {
  opacity: 1.0;
  height: 10px;
}

.menuItem {
  font-size: 15px;
}
